<form (ngSubmit)="onSubmit(formSearch)" #formSearch="ngForm">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input name="email" ngModel minlength="4" required type="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input name="password" ngModel required minlength="4" type="password" class="form-control"
            id="exampleInputPassword1">
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
</form>